#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  text-align: left;
  width: 60%;
  min-width: 600px;
  height: 80%;
}


#facebox .popup{
  position:relative;
  
  
}

#facebox .content {
  border:10px solid  rgba(80, 255, 20, 0.8);
  display:block;
  
  padding: 20px;
  background: #fff;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:fixed;
  margin:0 -50px 0 0;
  top:50px;
  z-index: 1200;
  right: 20%;
  border:none;
}
#facebox .close img{
  opacity:0.8;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background-color: #fff;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #fff;
  z-index: 1000;
}