#map_canvas{ width: 80%; position: absolute; left:50%; margin-left: -40%; top:100px; bottom: 125px; background: #000}
#title { position: absolute; z-index: 800; left:50%; margin-left: -40%; }
#title { font-size: 18px; color: white; margin-top: 110px; padding-left: 40px}
#title strong { display:block;}


/* -------------------------------------------------------------------------------- Commons */

body { overflow-x:hidden }
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    }
    
::selection {
background: white;
color: rgb(80, 255, 20);
    text-shadow: none;
    }
    
ul, ol, li, dt, dl, dd { list-style: none; margin: 0; padding: 0}

a { color: black; text-decoration: none; border-bottom: 2px solid #000 }
img, a img { border: none !important;}

/* -------------------------------------------------------------------------------- Typo */
h1, h2, h3, h4, p, ul, ol, blockquote, table {
    font-family: "franklin-gothic-urw", "open-sans",sans-serif;
}
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading p, .wf-loading ul, .wf-loading ol, .wf-loading blockquote {
    font-family: "franklin-gothic-urw", "open-sans",sans-serif;
    visibility: hidden;
    }
.wf-active h1, .wf-active h2, .wf-active h3, .wf-active p, .wf-active ul, .wf-active ol, .wf-active blockquote {
    visibility: visible;
    }

/* -------------------------------------------------------------------------------- Layout */

#header{
    background: rgba(80, 255, 20, 0.9);
    bottom: 60px;
    left: 80px;
    padding: 10px;
    position: absolute;
    z-index: 1999;
    width: 300px;
    }
    #header h1 { font-size: 32px; margin: 0; line-height: 1.1;}
    #header h1 span { display: block; font-weight:normal;margin: 10px 0 0;  font-size: 22px; }
    #header h2 { font-size: 13px; margin: 5px 0 0; line-height: 1.3; font-weight: normal; letter-spacing: .06em; margin: 10px 0 5px;}
    #header ul { margin: 5px 0;}
    #header li { font-size: 13px; display: inline-block; margin-right: 5px; text-transform: uppercase;}
    #header a { border-width: 0 }
    #header .selected a { border-width:2px;}

    .home #header { position: fixed;}




#content {
    position: absolute;
    bottom:60px;
    height: 0;
    overflow: visible;
    width: 80%; 
    left: 50%;
    margin-left: -40%;
    
    }
#content-media,    
#content-article,    
#content-dossier,
#content-tag,
#content-home {
    position: absolute;
    bottom:60px;
    height: 0;
    overflow: visible;
    width: 100%; 
    left: 0;
    
    }
    
    #content-media h1,
    #content-article h1,
    #content-dossier h1,
    #content-tag h1  {
        font-size: 4em;
        font-weight: 100;
        line-height: 1.1;
        margin: -30px 0 10px 10%;
        }
        #content-tag h1,
        #content-media h1,
        #content-article h1 { margin-left: 0}
    
    #footer,
    #content-media article,
    #content-home section, 
    #content-article article,
    #content-tag article,
    #content-dossier h1,
    #content-dossier .dossier-text,
    #content-dossier .related_dossiers,
    #content-dossier #abstract {
        margin-left: 10%;
        padding-left: 320px;
        max-width: 920px
        }
        #content-home section { max-width: 100%}
        #content-home #about { max-width: 920px}
        #content-tag article { max-width:2500px;}

    #content-dossier .related_dossiers { padding-top: 1em; }
    #content-dossier .related_dossiers:before {
        border-top: 1px solid #50FF14;
        content: " ";
        display: block;
        margin: 2em 0 0;
        width: 100px;
        }

/* -------------------------------------------------------------------------------- Page Accueil */
section { position: relative; overflow: auto; margin: 0 0 2em 0; padding: 0 0 2em 0}
section h3 { position: absolute; left: 0; text-transform: uppercase; width: 280px; text-align: right; padding-top: 1.5em;}
section #tagcloud { /*font-size: 13px*/}
section article { font-size: 18px}
section .dossiers li { position: relative;}
section h4 { font-weight: normal; position: absolute; left: 30px; right: 0px; top: 0%; padding: 20px; background: rgba(80, 255, 20, 0.8);}
.dossiers h4 {  text-align: left; margin: 0; padding: 20px }
.dossiers li { 
        width: 280px;
        text-align: center;
        margin: 0 25px 25px 0; 
        float: left;
        font-size: 100%
        }

.dossiers a { position: relative; display: block; border: none;} 
#about { padding-bottom: 200px; overflow: auto;}

/* -------------------------------------------------------------------------------- Page Infos */
.infos-nav { margin-bottom: 3em}
.infos-nav li { display: inline; font-size: 13px; margin-right: 10px}
.infos-nav li.selected a{ border-color:rgb(80, 255, 20);}
.dossier-text li,
.article-text ul li { padding-left: 20px;}
.dossier-text li:before,
.article-text li:before { 
    content: "—";
    position: absolute;
    text-indent: -20px;
    }
.dossier-text ol,
.article-text ol { counter-reset: list}
.dossier-text ol li,
.article-text ol li { padding-left: 30px; counter-increment: list}    
.dossier-text ol li:before,
.article-text ol li:before { 
    content: counter(list) '. ';
    position: absolute;
    text-indent: -30px;
    }
/* -------------------------------------------------------------------------------- Page dossier */

    .summary {
        left: 10%; 
        position: absolute;
        width: 260px;
        font-size: 13px;
        line-height: 1.1;
        padding-top: 60px
        }
        .summary h1{ font-size: 22px; margin-top: 1em}


    table, td, th {vertical-align:top;}
    td, th { padding: 10px 35px 10px 0; text-align: left; font-weight: normal;}
    tr { border-bottom: 1px solid rgb(80, 255, 20);}

    .authors li { display: inline }
    .authors li:after { content: ', ';}
    .authors li:last-child:after { content: '';}

    .tags li { display: inline-block; margin: 0 5px 5px 0}

    #abstract {
        font-size: 22px;
        overflow: auto;
        }
    .dossier-text{
        overflow: auto;
        z-index: 100;
        }
    aside { 
        overflow: auto;
        }
    
    .meta span {
        display: none;
        max-width: 300px;
        background: rgba(80, 255, 20, .9);
        padding: 10px;
        z-index: 0;
        position: absolute;
        top: -5px;
        left: -5px;
    }
    .meta {
        position: absolute;
        }
    .meta:hover span,
    .meta.active span { display: block; width: 300px;}
    .meta:before { 
        content: ' ';
        cursor: pointer;
        background: rgba(80, 255, 20, .6);
        color: #000;
        padding: 0 5px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 10px;
        margin: -5px;
        width: 1em;
        height: 1em; 
        display: inline-block;
        }
        .meta .close {position: absolute; right: -20px; top: 5px; width: 13px; height: 12px; background:url(img/close.png) no-repeat; cursor:pointer !important}
        
    .meta{
        -webkit-transition-property:-webkit-transform, left, top;
        -webkit-transition-duration:0s;
        -webkit-transform:translate3d(0px,0,0);
        -webkit-transition-timing-function:ease;
        
        -moz-transition-property:-moz-transform, left, top;
        -moz-transition-duration:0s;
        -moz-transform:translate3d(0px,0,0);
        -moz-transition-timing-function:ease;
        
        -o-transition-property:-o-transform, left, top;
        -o-transition-duration:0s;
        -o-transform:translate3d(0px,0,0);
        -o-transition-timing-function:ease;
        -o-transform:translate(0px,0px);
        
        -ms-transition-property:-ms-transform, left, top;
        -ms-transition-duration:0s;
        -ms-transform:translate3d(0px,0,0);
        -ms-transition-timing-function:ease;
        
        transition-property:transform, left, top;
        transition-duration:0s;
        transform:translate3d(0px,0,0);
        transition-timing-function:ease;
        }

/* -------------------------------------------------------------------------------- Survol images mono */
    .dossiers img,
    .medias-list .viz a img,
    .dossier-text .clip-image img,
    .tag article img { 
        display: block; 
        border: none;
        -webkit-transition: opacity .6s ease; -moz-transition: opacity .6s ease; -ms-transition: opacity .6s ease; -o-transition: opacity .6s ease; transition: opacity .6s ease;
        }
        .dossiers img:nth-child(2),
        .medias-list .viz a img:nth-child(2),
        .dossier-text .clip-image img:nth-child(2),
        .tag article img:nth-child(2) {
            opacity: 1;
            position: absolute;
            top:0;
            }
        .tag article a:hover img:nth-child(2),
        .medias-list .viz a:hover img:nth-child(2),
        .dossier-text .clip-image:hover img:nth-child(2),
        .dossiers a:hover img:nth-child(2){
            opacity: 0
            }


/* -------------------------------------------------------------------------------- Ligne de médias */
    
    .swiper-nav {
        position: absolute; right: 0; background: white;
        height: 145px;
        z-index: 999;
        padding-left: 20px
        }
    .swiper-nav a {
        display: block;
        background: url(img/swiper-nav.png) no-repeat;
        width: 50px;
        height: 50px;
        text-indent: -999px;
        border: none;
        margin: 0 20px;
        outline: none
        }
        .swiper-nav a:focus,
        .swiper-nav a:active { outline: none}
        .swiper-nav .arrow-right { background-position: 0 0; margin: 15px 0} 
        .swiper-nav .arrow-left{ background-position: 0 -50px}
        .swiper-nav .arrow-right:hover { background-position: 0 -100px}
        .swiper-nav .arrow-left:hover { background-position: 0 -150px}
    .medias-list {
        position: relative;
        }
        #content-tag .medias-list  { margin-top: 30px}
    .medias-list li { 
        position: relative;
        width: 275px;
        height: 145px;
        text-align: left;
        padding: 0 25px 25px 0; 
        float: left;
        font-size: 100%
        }
        #content-tag .medias-list li { margin-bottom: 25px}
    
    .medias-list article a { position: relative; display: block; border: none; overflow: auto;} 

    .data {
        background: rgba(80, 255, 20, 0.8);
        width:225px;
        position: absolute;
        top: 25px;
        height: 120px;
        padding: 0 12px;
         z-index: 4;
         overflow: hidden;
        }
        .data span { font-size: 13px; display: block;}

    .viz {
        background: #111138;
        background: #000;
        width:225px;
        position: absolute;
        left: 25px;
        height: 120px;
        overflow: hidden;
        z-index: 2;
        }
        .viz a { 
            opacity: .4;
            color: #fff;
            display:block;
            height: 100%;
            width: 100%;
            }
            .viz a span { font-size: 13px; display: block;  margin: 8px 0 0; max-height: 70px; overflow: hidden;}

    .medias-list li:hover .viz { z-index: 5}
    .medias-list li:hover .viz a { opacity: 1}

    .edit { position: absolute; bottom: 2px; right: -22px; text-indent: -9999em; background: url(img/edit.png) no-repeat; display: block;height: 20px; width: 20px; border: none; opacity: .3}
    .edit:hover { opacity: 1}

    .item-text .viz a {         
        font-size:18px; 
        padding: 10px;
        display: block;
        height: 6.3em;
        overflow: hidden;
        font-style: italic;
        line-height: 1.1;
        height: 
        }

        
    .item-video .viz a {
        text-indent: -9999em;
        background: url(img/medias.png);
        background-position: 0 -360px;
    }

    .item-sound .viz a {
        padding: 10px 10px 10px 50px;
        background: url(img/medias.png);
        background-position: 0 0;
    }

    .item-book .viz a {
        padding: 10px 10px 10px 50px;
        background: url(img/medias.png);
        background-position: 0 -120px;
    }
    .item-link .viz a {
        padding: 10px 10px 10px 50px;
        background: url(img/medias.png);
        background-position: 0 -240px;
    }

    .item-map .viz a {
        padding: 10px 10px 10px 50px;
        background: url(img/medias.png);
        background-position: 0 -480px;
        text-indent: -999em;
    }

    .item-photo .viz a,
    .item-gallery .viz a {
        opacity: 1
    }


    /* Specify Swiper's Size: */
    .swiper-container{
     
        height: 150px;
    }
    .swiper-container, .swiper-container ul{
        padding-right: 130px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .swiper-slide {
        width:250px;
    }

    .slideshow div {
        cursor: pointer;
        display: none;        
    }

    .slideshow .active {
        display: block;
    }

    

/* -------------------------------------------------------------------------------- Texte dossier */


    .dossier-text p { margin: 1em 0}
    .dossier-text blockquote{
        margin: 1em 0;
        padding-left: 20px;
        border-left: 10px solid rgb(80, 255, 20);
    }
    .dossier-text p.p_small {
        font-size: .8em;
    }

    .dossier-text h3 {
        font-size: 2.5em;
        color:rgb(80, 255, 20);
        line-height: 1;
        margin: 20px 0;
    }

    .dossier-text h4 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .dossier-text p.p_exergue {
        float: left;
        margin: 0;
        text-align: right;
        width: 320px;
        margin: 0 0 .75em -120px;
        padding-right: 20px;margin-right: 20px;
        border-right: 10px solid rgb(80, 255, 20);
        font-weight: bold;
        font-size: 1.5em
    }

    .dossier-text p.p_note {
        position: absolute; left:-220px; width: 200px; font-size: 13px;
    }

    a.fancybox {
        display: block;
        float: left;
        margin: 0 20px 0 -120px;
        border: none
    }
    a.fancybox  .clip-image { position: relative; display: block;}
    



/* -------------------------------------------------------------------------------- Tags */
    #filters { border-bottom: 1px solid rgb(80, 255, 20); padding-bottom: 1em; margin-bottom: 2em; font-size: 13px}

    #filters li,
    #pages li,
    #tagcloud li { display: inline-block;}
    
    #filters a,
    #pages a,
    #tagcloud a {
        display: inline-block; 
        margin: 0 5px 5px 0;
        border: 5px solid #ddd;
        padding: 3px 8px;
        }

    #filters a.selected,
    #pages li.selected a,
    #tagcloud a.selected,
    #filters a:hover,
    #pages a:hover,
    #tagcloud a:hover {
        border: 5px solid  rgb(80, 255, 20)
    }




/* -------------------------------------------------------------------------------- Medias */
iframe, object { width: 100%; }

.media article img { max-width: 100%}
.media-content p { max-width: 600px}


/* -------------------------------------------------------------------------------- Popup */
.popup .summary { position: relative; display: inline; top: -10px;left: 0; margin: 0}
.popup .summary tr,.popup .summary th,.popup .summary td { display: inline-block; }
.popup .summary th { width: auto; font-weight: bold;}
.popup .summary li { margin: 0;}
.popup #footer { padding-left: 0; margin-left: 0}


/* -------------------------------------------------------------------------------- Footer */
#footer:before {
    content: " ";
    width: 100px; 
    display: block;
    border-top: 1px solid rgba(80, 255, 20, 1);
    margin: 2em 0 0;
}
#footer { 
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 13px; color: #999;
    }


.quatrecentquatre {
    background: url(img/404.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* -------------------------------------------------------------------------------- Medias */



#esa-e,
#esa-s,
#esa-a,
#esa-p,
#esa-pautarbes{
    position: fixed !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight:400; font-weight: 700;
    letter-spacing:-0.02em;
    
}


/* E */
#esa-e{
    position: fixed !important;
    left: 33%;
    top: 10px;
    z-index: 500;
}
/* S */
#esa-s{
    position: fixed !important;
    left: 10px;
    top: 50%;
    height: 15px;
    margin-top: -7px;
    z-index: 500;
}
/* A */
#esa-a {
    position: fixed !important;
    left: 33%;
    bottom: -20px;
    margin-left: -10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 500;
}
/* Pyrénées */
#esa-p{ 
    text-align: center;
    position: fixed !important;
    right: 20px;
    left: auto;;
    top: 50%;
    margin-top: -115px;
    width: 20px;
    height: 230px;
    z-index: 500;
    line-height: 1.1;

    }
    

/* Pau – Tarbes */
#esa-pautarbes { 
    bottom: 0px;
    letter-spacing:0.04em;
    font-size: 11px;
    left: 30px;
    position: fixed !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 5000;
    min-width: 0;
    }

.id {
    opacity: 1;
     -webkit-transition: opacity .6s ease; -moz-transition: opacity .6s ease; -ms-transition: opacity .6s ease; -o-transition: opacity .6s ease; transition: opacity .6s ease;
}
.scrolled .id {
    opacity: 0
}



/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* Swiper Styles */
.swiper-container {
    margin:30px auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
    
}
.swiper-slide {
    float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}


@media only screen and (max-width: 800px) {
    #footer,
    #content-media article,
    #content-home section, 
    #content-article article,
    #content-tag article,
    #content-dossier h1,
    #content-dossier .dossier-text,
    #content-dossier #abstract {
        padding-left: 0;
        }
    .tag .summary { width: auto;}

    .tag .summary:after {
        content: "Thèmes…";
        font-weight: bold;
    }
    .tag .summary h4,
    .tag .summary #tagcloud { display: none;}
    .tag .summary:hover h4,
    .tag .summary:hover #tagcloud { display: block;}
    .summary { position: static; margin:0 0 6em 10%}
    .home #header { position: absolute; bottom: 100px}
    section h3 {position: static; text-align: left;}
}