<div class="viz">
    <a href="{{ media.get_absolute_url }}" rel="book">                        
        {{ media.title }}
        <span>{{ media.caption }}</span>
    </a>
</div>
<div class="data">
    <p>
        {% if IS_ADMIN %}
            <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
        {% endif %}
        Biblio. <br>— <br>
        <span id="{{media.real_type.model}}-{{media.id}}">{{ media.title }}</span>
    </p>
</div>