{% load thumbnail utils  %}
<div class="viz">
    {% for i in media.images.all  %}
        {% if forloop.first %}
    <a href="{{ media.get_absolute_url }}" rel="gallery">                        
    {% thumbnail i.image "225x120" crop="left" upscale=False format="PNG" as image %}
        <img src="{{ image.url }}" alt="{{ media.title }}">   
    {% endthumbnail %}
    </a>
        {% endif %}
    {% endfor %}
    
</div>
<div class="data">
    <p>
        {% if IS_ADMIN %}
            <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
        {% endif %}
        Galerie <br>— <br>
        <span id="{{media.real_type.model}}-{{media.id}}">{{ media.title }}</span>
    </p>
</div>