{% load utils  %}
<div class="viz">
    <a href="{{ media.url }}">                        
        {{ media.title }}
        <span>{{ media.url|extract_domain }}</span>
    </a>
</div>
<div class="data">
    <p>
        {% if IS_ADMIN %}
            <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
        {% endif %}
        Link <br>— <br>
        <span id="{{media.real_type.model}}-{{media.id}}">{{ media.caption }}</span>
    </p>
</div>