<div class="viz">
    <a href="{{ media.get_absolute_url }}" rel="map">                        
    map
    </a>
</div>
<div class="data">
    <p>
        {% if IS_ADMIN %}
            <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
        {% endif %}
        Carte <br>— <br>
        <span>{{ media.title }}</span>
    </p>                        
</div>    