{% load thumbnail utils  %}
<div class="viz">
    <a href="{{ media.get_absolute_url }}" rel="photo">                        
    {% thumbnail media.photo "225x120" crop="left" upscale=False format="PNG" as image %}
        <img src="{{ image.url }}" alt="{{ media.title }}">   
    {% endthumbnail %}
    </a>
</div>
<div class="data">
    {% if IS_ADMIN %}
        <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
    {% endif %}
    <p>
        Photo <br>— <br>
        <span id="{{media.real_type.model}}-{{media.id}}"></span>
    </p>
    <script>
    $(function(){
        {% comment %}
            var geocoder = new google.maps.Geocoder();
        var input = '{{ media.latlng }}';
        var latlngStr = input.split(",",2);
        var lat = parseFloat(latlngStr[0]);
        var lng = parseFloat(latlngStr[1]);
        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({'latLng': latlng}, function(results, status) {
            /* Si le géocodage inversé a réussi */
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    $("#{{media.real_type.model}}-{{media.id}}").html('' + results[0].formatted_address)
                    //console.log(results)
                }
            } else {
                alert("Le geocodage a echoue pour la raion suivante : " + status);
            }
        });
        {% endcomment %}
    });
    </script>
</div>