<div class="viz">
    <a href="{{ media.get_absolute_url }}" rel="text">                        
    {{ media.body|truncatewords_html:25|safe }}
    </a>
</div>
<div class="data">
    <p>
        {% if IS_ADMIN %}
            <a href="{{ media.get_admin_url }}" class="edit">Éditer</a>    
        {% endif %}
        Texte <br>— <br>
        <i>{{ media.title }}</i>
        <span id="{{media.real_type.model}}-{{media.id}}">{{ media.copyright }}</span>
    </p>                        
</div>   