{% extends "base.html" %}
{% load thumbnail utils  %}

{% block pagetype %}quatrecentquatre{% endblock pagetype %}
    

    {% block content %}
        <div id="content" >
            <div class="dossier 404">
                <h1>404</h1>
                {{ block.super }}
            </div>
        </div>
        
    {% endblock content %}