{% extends "base.html" %}
{% load thumbnail utils taggit_extras %}

{% block pagetype %}article{% endblock %}


{% block header %}
    <div class="id" id="esa-e">É</div>
    <div class="id" id="esa-s">S</div>
    <div class="id" id="esa-a">A</div>
    <div class="id" id="esa-p">P<br>y<br>r<br>é<br>n<br>é<br>e<br>s</div>
    <div class="id" id="esa-pautarbes">Pau – Tarbes</div>


    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li><a href="/#dossiers" title="">Dossiers</a></li>
                <li><a href="/tags/" title="">Thèmes</a></li>
                <li class="selected"><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique">Informations</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
{% endblock %}
    

{% block content %}
    
    <div id="content-article">
        <div class="article">
            <header class="summary">
                
                 <nav class="infos-nav">
                    <ul id="pages">
                        {% for article in articles %}
                            {% ifnotequal article.short_title "Introduction" %}
                            <li {% ifequal current_path article.get_absolute_url %}class="selected"{% endifequal %} ><a href="{{ article.get_absolute_url }}">
                                {% ifnotequal article.short_title None %}
                                    {{ article.short_title }}
                                {% else %}
                                    {{ article.title }}
                                {% endifnotequal %}
                            </a></li>    
                            {% endifnotequal %}     
                        {% endfor %}               
                        
                    </ul>
                </nav>
            </header>

            <article>

               
                
                <h1>{{ object.title }}</h1>
                {% ifnotequal object.introduction None %}
                    <div id="abstract" >
                        <p>{{ object.introduction|safe }}</p>                    
                    </div>    
                {% endifnotequal %}
                {% ifnotequal object.text None %}
                    <div class="article-text">
                        {{ object.text|parseImgInText|safe }}
                    </div> 
                {% endifnotequal %}
                
            </article>
        </div>    
        {{ block.super }}
    </div>



{% endblock %}


{% block map %}
    <script type="text/javascript" >


    {% for dossier in dossiers  %}
        
        {% if forloop.first %}
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                url:"{{ dossier.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

</script>                    
{% endblock map %}
