<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block pagetitle %}Les écritures du patrimoine — enquêter l’écrit en situation / ÉSA Pyrénées{% endblock pagetitle %}</title>
        <meta name="description" content="{% block pagedesc %}Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace. Méthodologie de la recherche en sciences sociales et design graphique à l’École supérieure d’art des Pyrénées — Pau Tarbes.{% endblock pagedesc %}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

        {% block prehead %}{% endblock prehead %}

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript">
            document.STATIC_URL={{ STATIC_URL }};
            document.collections = [];
        </script>

        <script type="text/javascript">
          (function() {
            var config = {
              kitId: 'tvr0meo',
              scriptTimeout: 3000
            };
            var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
          })();
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
        <script src="{{ STATIC_URL }}js/plugins-no-leaflet.js"></script>
        <script src="{{ STATIC_URL }}js/main-osm.js"></script>

    </head>
    <body class="{% block pagetype %}base{% endblock %}">
        
        <div id="map_canvas"></div>

        <div id="title"></div>

        {% block header %}
            <header id="header" class="">
                <h1>
                    <a href="/">Les écritures du patrimoine</a>
                    <span>Enquêter l’écrit en situation.</span>
                </h1>
                <nav>
                    <ul>
                        <li><a href="/#dossiers" title="">Dossiers</a></li>
                        <li><a href="/tags/" title="">Thèmes</a></li>
                        <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique" title="">Informations</a></li>
                    </ul>
                </nav>
            </header>       
        {% endblock %}   

        {% block content %}   
            <footer id="footer">
                <p>Les écritures du patrimoine — enquêter l’écrit en situation / ÉSA Pyrénées 2012–2013</p>
            </footer>    
        {% endblock %}

        

        {% block map %}
        {% endblock %} 
     
        
    </body>
</html>

