{% extends "base.html" %}
{% load thumbnail utils  %}

{% block pagetitle %}{{ object.title }} / Les écritures du patrimoine / ÉSA Pyrénées{% endblock %}
{% block pagedesc %}{{ object.introduction }}{% endblock %}
{% block pagetype %}dossier{% endblock %}

{% block header %}
    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li class="selected"><a href="/#dossiers" title="">Dossiers</a></li>
                <li><a href="/tags/" title="">Thèmes</a></li>
                <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique">Informations</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
{% endblock %}

{% block content %}


    <div id="content-dossier" >
        <div class="dossier">
                        
            <header class="summary">
                
                <table>
                    <tbody>
                        <tr>
                            <th>Lieu</th>
                            <td>{{ object.location }}</td>
                        </tr>
                        <tr>
                            <th>Auteurs</th>
                            <td>
                                <ul class="authors">
                                    {% for author in object.authors.all %}
                                        <li> {{ author.first_name }} {{ author.last_name }}</li>
                                    {% endfor %}   
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Thèmes</th>
                            <td>
                                <ul class="tags">
                                    {% for tag in object.tags.all %}
                                    <li><a href="/tags/{{ tag.id }}/{{ tag.slug }}" >{{ tag.name }}</a></li>
                                    {% endfor %}   
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ object.publication_date|date:"d/m/y" }}</td>
                        </tr>
                        <tr>
                            <th>PDF</th>
                            <td><a href="{{ MEDIA_URL }}{{ object.pdf }}" >Télécharger</a></td>
                        </tr>
                        {% if IS_ADMIN %}
                        <tr>
                            <th>Admin</th>
                            <td><a href="{{ object.get_admin_url }}" >Éditer</a></td>
                        </tr>
                            
                        {% endif %}
                        
                    </tbody>
                </table>
            </header>

            <article>
                <h1>{{ object.title }}</h1>
                <div id="abstract" >
                    <p>{{ object.introduction }}</p>                    
                </div>
                
                {% if medias %}
                    
                <aside class="swiper-container">
                    
                    <nav class="swiper-nav"><a class="arrow-right" href="#"></a><a class="arrow-left" href="#"></a> </nav>
                    <ul id="medias" class="medias-list swiper-wrapper">
                    {% for media in medias  %}
                        <!-- {{media.real_type_id }} {{media.id }}-->
                        {% with media=media.cast %}
                        <li class="item item-{{ media.real_type.model }} swiper-slide">
                            {% with media.get_tpl_name as tpl %}
                                {% include tpl %}    
                            {% endwith %}  
                        </li>
                        {% endwith %}  
                    {% endfor %}
                    </ul>
                </aside>

                {% endif %}

                <div class="dossier-text">
                    {{ object.text|parseImgInText|wrap_meta|safe }}
                </div>  

                {% if related_dossiers %}
                <div class="related_dossiers">
                    <h4>Voir aussi : </h4>
                    <p>
                    {% for d in related_dossiers %}
                        <a href="{{ d.get_absolute_url }}">{{ d.title }}</a>{% if not forloop.last %},{% endif %}  
                        
                    {% endfor %}
                    </p>
                </div>    
                {% endif %}
                
            </article>



        </div>
        {{ block.super }}
    </div>

    

{% endblock %}

{% block map %}
    <script src="{{ STATIC_URL}}js/idangerous.swiper-1.9.1.min.js" type="text/javascript" charset="utf-8" ></script>
    {% if medias %}
    <script>
    $(function(){
        var swiperLeft = parseInt($('#abstract').css('padding-left')) + parseInt($('#abstract').css('margin-left'));
        $(".swiper-container").css({
            'padding-left': swiperLeft - 25 + 'px'
        })
        
        var swiper = $('.swiper-container').swiper({
            //pagination : '.pagination-free',
            mode:'horizontal',
            freeMode : true,
            freeModeFluid: true,
            slidesPerSlide : 'auto',
            grabCursor:true,
            //mousewheelControl:true,
            keyboardControl:true
            
        });

        //Navigation arrows
        $('.arrow-left').click(function(e) {
            e.preventDefault()
            swiper.swipePrev()
        });
        $('.arrow-right').click(function(e) {
            e.preventDefault()
            swiper.swipeNext()
        });
    });
    </script> 
    {% endif %}
    <script type="text/javascript" >
    {% for dossier in dossiers  %}
        
        {% if forloop.first %}
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier-off.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                url:"{{ dossier.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

    {% for media in mappables_medias  %}
        {% with media=media.cast %}
            
            {% if forloop.first %}
        var medias = {
            title : "Medias",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-{{ media.get_model_name }}.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ media.title}}",
                latlng:"{{ media.latlng }}",
                url:"{{ media.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{{ media.caption}}" 
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }
        document.collections.push(medias);
        {% endif %}
            
        {% endwith %}
    {% endfor %}

    
    
    // popup
    var $popuplinks = $('[rel="photo"], [rel="gallery"], [rel="video"], [rel="text"], [rel="book"], [rel="map"]');
    
    Modernizr.load([{
        load : [document.STATIC_URL + 'js/facebox.js', document.STATIC_URL + 'css/facebox.css',],
        complete : function () {

            $popuplinks.click(function(e){                    
                e.preventDefault();
                var target_url = this.href + ' #content-media';
                $.facebox.settings.closeImage = document.STATIC_URL + 'img/close.png';
                $.facebox.settings.loadingImage = document.STATIC_URL + 'img/loading.gif';
                $.facebox.settings.opacity = '1'
                jQuery.get(target_url, function(data) {
                    if (data) {
                        jQuery.facebox(data)
                    }
                });
            });            
        }
    }
    ]);  


</script>                    
{% endblock map %}