{% extends "base.html" %}
{% load thumbnail utils taggit_extras %}



{% block pagetype %}home{% endblock %}
{% block header %}
    <div class="id" id="esa-e">É</div>
    <div class="id" id="esa-s">S</div>
    <div class="id" id="esa-a">A</div>
    <div class="id" id="esa-p">P<br>y<br>r<br>é<br>n<br>é<br>e<br>s</div>
    <div class="id" id="esa-pautarbes">Pau – Tarbes</div>


    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li><a href="/#dossiers" title="">Dossiers</a></li>
                <li><a href="/tags/" title="">Thèmes</a></li>
                <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique" title="">À propos</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
{% endblock %}
    

{% block content %}
    
    <div id="content-home">
        <section>
            <h3>Dossiers</h3>
        <ul class="dossiers">
            {% for dossier in dossiers  %}
            <li>
                <a href="{{ dossier.get_absolute_url }}" >
                    {% thumbnail dossier.image "280x165" crop="left" upscale=False format="PNG" as image %}
                        <img src="{{ image.url }}" alt="{{ dossier.title }}">   
                    {% endthumbnail %}
                    <h4><span><span>{{ dossier.title }}</span></span></h4>
                </a>
            </li>
            {% endfor %}
        </ul>
        </section>
        <section>
            <h3>Thèmes</h3>
            <ul id="tagcloud">

                {% get_tagcloud as taggs %}
                {% for tag in taggs %}
                    <li class="tagw-{{tag.weight|floatformat:0}}"><a href="/tags/{{ tag.id }}/{{ tag.slug }}"  >{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </section>
        <section id="about">
            <h3>À propos</h3>
            <article>
                <p>{{ intro.introduction|safe}}
                           
            </article>
            <nav class="infos-nav">
                <ul>
                    {% for article in articles %}
                    {% ifnotequal article.get_absolute_url intro.get_absolute_url %}
                        <li><a href="{{ article.get_absolute_url }}">
                            {% ifnotequal article.short_title None %}
                                {{ article.short_title }}
                            {% else %}
                                {{ article.title }}
                            {% endifnotequal %}
                        </a></li>  
                    {% endifnotequal %}
                    {% endfor %}                    
                </ul>
            </nav>
        </section>

        {{ block.super }}

    </div>



{% endblock %}


{% block map %}
    
    <script type="text/javascript" >
       


    {% for dossier in dossiers  %}
        
        {% if forloop.first %}
        document.collections = [];
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                url:"{{ dossier.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

</script>                    
{% endblock map %}
