{% extends "base.html" %}
{% load thumbnail utils  %}

{% block pagetype %}media{% endblock %}

{% block header %}
    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li><a href="/#dossiers" title="">Dossiers</a></li>
                <li><a href="/tags/" title="">Thèmes</a></li>
                <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique">Informations</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
{% endblock %}

{% block content %}

    {% with object.cast as object %}
    <div id="content-media" >
        <div class="media">
                        
            <header class="summary">
                
                    
                
                <table>
                    <tbody>
                        <tr>
                            <th>Dossier</th>
                            <td>{% for dossier in object.dossier.all %}<a href="{{ dossier.get_absolute_url }}">{{ dossier.title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        {% if object.latlng %}
                        <tr>
                            <th>Lieu</th>
                            <td>{{ object.latlng }}</td>
                        </tr>
                        {% endif %}

                        {% if object.copyright %} 
                        <tr>
                            <th>Crédits</th>
                            <td>
                                {{ object.copyright }}
                            </td>
                        </tr>
                        {% endif %}

                        {% if object.tags.all %} 
                        <tr>
                            <th>Thèmes</th>
                            <td>
                                <ul class="tags">
                                    {% for tag in object.tags.all %}
                                    <li><a href="/tags/{{ tag.id }}/{{ tag.slug }}" >{{ tag.name }}</a></li>
                                    {% endfor %}   
                                </ul>
                            </td>
                        </tr>
                        {% endif %}

                        {% if object.publication_date %} 
                        <tr>
                            <th>Date</th>
                            <td>{{ object.publication_date|date:"d/m/y" }}</td>
                        </tr>
                        {% endif %}

                        {% if IS_ADMIN %}
                        <tr>
                            <th>Admin</th>
                            <td><a href="{{ object.get_admin_url }}" >Éditer</a></td>
                        </tr>
                            
                        {% endif %}
                        
                    </tbody>
                </table>
            </header>

            <article>
                
                <h1>{{ object.title }}</h1>

                <div class="media-content">
                {% switch object.get_model_name %}
                    {% case 'text' %}
                        {{ object.body|parseImgInText|safe }}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'photo' %}
                        {% thumbnail object.photo "800" crop="left" upscale=False as image %}
                            <img src="{{ image.url }}" alt="{{ object.title }}">   
                        {% endthumbnail %}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'video' %}
                        {{ object.code|safe }}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'sound' %}
                        {{ object.mp3 }}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'book' %}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'map' %}
                        {{ object.code|safe }}
                        <div class="caption"><p>{{ object.caption}}</p></div>
                    {% case 'gallery' %}
                        <div class="gallery slideshow">
                            
                            {% for i in object.images.all  %}
                            <div {% if forloop.first %}
                                class="active"
                            {% endif %}>
                                {% thumbnail i.image "800" crop="left" upscale=False as image %}
                                    <img rel="gallery" src="{{ image.url }}" alt="{{ object.title }}">   
                                    <p>{{i.title}}</p>
                                {% endthumbnail %}
                            </div>
                            {% endfor %}
                            
                        </div>
                        
                        <div class="caption"><p>{{ object.caption}}</p></div>

                {% endswitch %}
                </div>
            </article>



        </div>
        {{ block.super }}
    </div>
    {% endwith %}



{% endblock %}

{% block map %}
    <script type="text/javascript" >
    {% for dossier in dossiers  %}
        
        {% if forloop.first %}
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

    {% with object.cast as object %}
    {% if object.latlng %}
        var media = {
            title : "Medias",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-{{object.get_model_name}}.svg',
            control:false,
            items: [                
            {
                title:"{{ object.title}}",
                latlng:"{{ object.latlng }}",
                index:100, 
                texte:"{% for dossier in object.dossier.set %}{{ dossier.title }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            ]   
        }         
        document.collections.push(media);
    {% endif %}
    {% endwith %}

</script>                    
{% endblock map %}