{% extends "base.html" %}
{% load thumbnail utils taggit_extras %}

{% block pagetitle %}{{ object.name|capfirst }} / Les écritures du patrimoine / ÉSA Pyrénées{% endblock %}
{% block pagedesc %}Contenus et médias associés au thème « {{ object.name }} ».{% endblock %}
{% block pagetype %}dossier{% endblock %}

{% block header %}
    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li><a href="/#dossiers" title="">Dossiers</a></li>
                <li class="selected"><a href="/tags/" title="">Thèmes</a></li>
                <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique">Informations</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
    
{% endblock header %}

{% block content %}



<div id="content-tag" >
    <div class="tag">
        <header class="summary" >
            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                <li><a href="#filter" data-option-value="*" class="selected">Tout</a></li>
                <li><a href="#filter" data-option-value=".item-dossier">Dossiers</a></li>
                <li><a href="#filter" data-option-value=".item-photo">Photos</a></li>
                <li><a href="#filter" data-option-value=".item-video">Vidéos</a></li>
                <li><a href="#filter" data-option-value=".item-sound">Sons</a></li>
                <li><a href="#filter" data-option-value=".item-map">Cartes</a></li>
                <li><a href="#filter" data-option-value=".item-text">Textes</a></li>
                <li><a href="#filter" data-option-value=".item-link">Liens</a></li>
                <li><a href="#filter" data-option-value=".item-book">Biblio.</a></li>
                <li><a href="#filter" data-option-value=".item-gallery">Galeries</a></li>
            </ul>
            <h4>Thèmes :</h4>
            <ul id="tagcloud">

                {% get_tagcloud as taggs %}
                {% for tag in taggs %}
                    <li class=" {% ifequal current_path tag.url %}selected{% endifequal %} tagw-{{tag.weight|floatformat:0}}"><a href="/tags/{{ tag.id }}/{{ tag.slug }}"  >{{tag.name}}</a></li>
                {% endfor %}
            </ul>
            
        </header>
        <nav>
            
        </nav>
        <article>
            <h1>{{ object.name|capfirst }}</h1>
            <ul class="medias-list" id="medias">
            {% for dossier in dossiers  %}
                <li class="item item-dossier">
                    <div class="viz">
                        <a href="{{ dossier.get_absolute_url }}">                        
                        {% thumbnail dossier.image "225x120" crop="left" upscale=False format="PNG" as image %}
                            <img src="{{ image.url }}" alt="{{ dossier.title }}">   
                        {% endthumbnail %}
                        </a>
                    </div>
                    <div class="data">
                        <p>
                            Dossier <br>— <br>
                            <i>{{ dossier.title }}</i>
                            <span>{% for author in object.authors.all %}
                                {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}   
                            </span>                            
                        </p>                        
                    </div> 
                </li>
            {% endfor %}
            {% for content in medias  %}
            {% with media=content.cast %}
            <li class="item item-{{ content.real_type.model }}">                
                {% with media.get_tpl_name as tpl %}
                    {% include tpl %}    
                {% endwith %}  
            </li>
            {% endwith %}
            {% endfor %}    
        </ul>
            
                
        </article>


        {{ block.super }}

    </div>
    
</div>



<script>
    $(function(){
      
        var $container = $('#medias');

        $container.isotope({
            itemSelector : '.item'
        });


        var $optionSets = $('.option-set'),
            $optionLinks = $optionSets.find('a');

        $optionLinks.click(function(){
            var $this = $(this);
            // don't proceed if already selected
            if ( $this.hasClass('selected') ) {
              return false;
            }
            var $optionSet = $this.parents('.option-set');
            $optionSet.find('.selected').removeClass('selected');
            $this.addClass('selected');

            // make option object dynamically, i.e. { filter: '.my-filter-class' }
            var options = {},
                key = $optionSet.attr('data-option-key'),
                value = $this.attr('data-option-value');
            // parse 'false' as false boolean
            value = value === 'false' ? false : value;
            options[ key ] = value;
            if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
              // changes in layout modes need extra logic
              changeLayoutMode( $this, options )
            } else {
              // otherwise, apply new options
              $container.isotope( options );
            }

            return false;
        });

      
    });
</script>



{% endblock %}



{% block map %}
    <script type="text/javascript" >
    {% for dossier in all_dossiers  %}
        
        {% if forloop.first %}
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                url:"{{ dossier.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

</script>                    
{% endblock map %}

