{% extends "base.html" %}
{% load thumbnail utils taggit_extras %}

{% block pagetype %}dossier{% endblock %}

{% block header %}

    <header id="header" class="">
        <h1>
            <a href="/">Les écritures du patrimoine</a>
            <span>Enquêter l’écrit en situation.</span>
        </h1>
        <h2>Formes, supports, pratiques, politique(s), et fonction(s) de l’écriture exposée dans l’espace.</h2>    
        <nav>
            <ul>
                <li><a href="/#dossiers" title="">Dossiers</a></li>
                <li class="selected"><a href="/tags/" title="">Thèmes</a></li>
                <li><a href="/infos/1/methodologie-de-la-recherche-en-sciences-sociales-et-design-graphique">Informations</a></li>
            </ul>
        </nav>
    </header><!-- /header -->
    
{% endblock header %}

{% block content %}



<div id="content-tag" >
    <div class="tag">
        <header class="summary" >
            
        </header>

        <article>
            <h1>Thèmes</h1>
            <ul id="tagcloud">

                {% get_tagcloud as taggs %}
                {% for tag in taggs %}
                    <li class="tagw-{{tag.weight|floatformat:0}}"><a href="/tags/{{ tag.id }}/{{ tag.slug }}"  >{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        
        </article>

    </div>
    {{ block.super }}
</div>


{% endblock %}


{% block map %}
    <script type="text/javascript" >
    {% for dossier in dossiers  %}
        
        {% if forloop.first %}
        var dossiers = {
            title : "Dossiers",
            visibility:true,
            markers:[],
            icon : {{ STATIC_URL }} + 'img/marker-dossier.svg',
            control:false,
            items: [                
            {% endif %}
            {
                title:"{{ dossier.title}}",
                latlng:"{{ dossier.latlng }}",
                url:"{{ dossier.get_absolute_url }}",
                index:{{ forloop.counter }}, 
                texte:"{% for author in dossier.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}"      
            }
            {% if not forloop.last %},{% endif %}            
            {% if forloop.last %}
            ]   
        }         
        document.collections.push(dossiers);
        {% endif %}
    {% endfor %}

</script>                    
{% endblock map %}

