/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

body#tinymce, body#tinymce td, body#tinymce pre, body#tinymce ol, body#tinymce ul, body#tinymce li {
    font-family: Georgia, serif;
    font-size: 14px; line-height: 18px; font-weight: normal; 
    white-space: normal;
}
body#tinymce {
    margin: 0; padding: 10px 10px 10px 0 !important;
    width: 620px;
}
body#tinymce.fullscreen {
    width: 620px !important; /* Use this to apply the actual page-width and guarantee a wysiwyg content-structure */
}

a:link, a:visited, a:hover, a:active {
    padding: 0;
    color: #309bbf !important;
    text-decoration: none !important;
}

a.external:link, a.external:visited, a.external:hover, a.external:active {
    padding: 0;
    color: #309bbf !important;
    text-decoration: underline !important;
}


body#tinymce * { 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    }

    body#tinymce { width: 100% !important; max-width:700px;}


body#tinymce h1, body#tinymce h2, body#tinymce h3, body#tinymce h4, body#tinymce p, body#tinymce ol, body#tinymce ul, body#tinymce code, body#tinymce pre, body#tinymce blockquote, body#tinymce div {
    margin: 0 10px 10px 10px;
}
body#tinymce div { border:1px dashed red; }
body#tinymce img.mceItemMedia, body#tinymce img.mceItemIframe { border:1px solid #aaa !important; background: #bbb }
body#tinymce img.mceItemMedia:focus, body#tinymce img.mceItemIframe:focus { border-color: red !important;}

.medium { display:block; margin:0 0 0 -20px}
.small {  display:block; margin:0 20px 0 -20px; float:left }
.img_right { float:right }
.img_block { display:block; clear:both }
.p_exergue { font-size:16px; font-style:italic; margin-left:-20px;}
.p_small { font-size:11px; color:#666 }
.p_caption { 
    font-size:11px; 
    color:#666;
    }
.p_caption:before { content: "Légende" !important; }
    
.p_download {
    margin-left:20px;
    position:relative;
    }

body#tinymce .p_download:before {
    content: "Download" !important;
}

.meta {
    background: rgba(80, 255, 20, .6);
}



body#tinymce  p { margin: 1em 0}
    body#tinymce  blockquote{
        margin: 1em 0;
        padding-left: 20px;
        border-left: 10px solid rgb(80, 255, 20);
    }
    body#tinymce  p.p_small {
        font-size: .8em;
    }

    body#tinymce  h3 {
        font-size: 24px;
        color:rgb(80, 255, 20)
    }

    body#tinymce  h4 {
        font-size: 20px;
        color:rgb(80, 255, 20)
    }

    body#tinymce  p.p_exergue {
        float: left;
        margin: 0;
        text-align: right;
        width: 320px;
        
        padding-right: 20px;margin-right: 20px;
        border-right: 10px solid rgb(80, 255, 20);
        font-weight: bold;
        font-size: 16px
    }
